<div class="wrapper">
  <section class="today">
    <div class="today-overall"> Today Overall</div>
    <div class="today-morning">Morning </div>
    <div class="today-afternoon">Afternoon</div>
    <div class="today-evening">Evening</div>
  </section>
  <section class="today-detail">
    Your Morning will look Like...

        <mini-summary *ngFor="let hour of hours"></mini-summary>
  

  </section>
  <section class="week-tabs"> Week Tab Display</section>
  <section class="week-display">Week Weather Display</section>
</div>